.navbar.afg-navbar {
    box-shadow: 0 0 1px #ccc;
    padding: 0 14px;
    height: 70px;
}

.navbar .navbar-nav .nav-link.nav-item:hover {
    transition: background-color 300ms linear;
}

.navbar .navbar-nav .nav-link.nav-item:hover {
    background-color: #f8f8f8;
    color: #000;
}

.afg-navbar__user-link,
.afg-navbar__user-link:hover {
    font-weight: 500;
    color: #00c1a8;
}

.afg-navbar__user-link .badge {
    margin-left: 6px;
    font-size: 80%;
    line-height: 1.2;
    color: #00c1a8;
    background-color: #fff;
}


@media (min-width: 576px) {
    .navbar .navbar-nav .nav-link.nav-item {
        font-weight: 500;
        padding-left: 1rem;
        padding-right: 1rem;
        display: inline-flex;
    }

    .navbar .navbar-collapse {
        height: 100%;
    }

    .navbar .navbar-collapse .navbar-nav {
        height: 100%;
    }

    .navbar .navbar-nav .nav-link .nav-link-inner {
        margin: auto;
    }
}
